.icon-wrapper {
  color: var(--gray);
  height: 18px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-content: center;
  stroke: var(--gray);
  transition: color 0.3s;
}

.icon-wrapper:hover {
  color: #ff0000;
}
