body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  font-weight: normal;
  line-height: 1;
  color: inherit;
  background: none;
}
.wrapper {
  max-width: 750px;
  margin: 0 auto;
}

.dark-theme {
  background-color: var(--dark-theme-background);
}
