:root {
  --font-family: 'Kanit', sans-serif;
  --second-family: 'Inter', sans-serif;
  --third-family: 'Raleway', sans-serif;
  --font3: 'Inria Serif', sans-serif;
}

:root {
  --text-color: #252525;
  --main-color: #6c63ff;
  --main-color-hover: #5a54d5da;
  --main-color-focus: #4c47b2a3;
  --white: #f7f7f7;
  --gray: #a2a2a2;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
}

ul,
li {
  list-style: none; /* убираем маркеры */
  margin: 0; /* убираем внешние отступы */
  padding: 0; /* убираем внутренние отступы */
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
  line-height: normal;
  color: inherit;
  font-family: inherit;
}
